.print-transaction-company-container span {
    display: block;
}

.print-transaction-invoice-id-container {
    text-align: right;
    margin-bottom: 20px;
}

.print-transaction-invoice-id-container span {
    font-size: 30px;
}

#id-number {
    font-weight: 700;
}

.print-transaction-customer-container {
    margin-bottom: 50px;
}

.print-transaction-customer-container span {
    display: block;
}

.print-transaction-due-date-container, .print-transaction-terms-container {
    text-align: right;
    margin-bottom: 20px;
}

#due-date, #due-message {
    font-weight: 700;
}

.print-transaction-invoice-table-container {
    margin-bottom: 40px;
}

.invoice-table {
    border-collapse: collapse;
    width: 100%;
}

.invoice-table td, .invoice-table th {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    text-align: left;
}

.invoice-table th {
    background-color: rgba(225,225,225, 1);
    color: rgba(0, 0, 0, 1);
    text-align: left;
}

.print-transaction-total-container {
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.print-transaction-total-container span {
    font-size: 25px;
}

#thank-you-message {
    font-size: 18px;
}

#total-number {
    font-weight: 700;
}

@media print {
    .links-header {
        display: none !important;
    }
}