select {
    font-size: 20px;
}

.create-transaction-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.create-transaction-container a {
    color: rgba(0, 200, 255, 1)
}

.transaction-customer-dropdown-container span {
    display: block;
    margin-bottom: 20px;
}

#due-payment-date {
    font-size: 20px;
}

.field-container {
    padding: 20px 0px;
}

.transaction-information-table {
    margin-bottom: 20px;
}

#print-container {
    margin-bottom: 50px;
}

#print-container a {
    color: rgba(0, 200, 255, 1);
}
