select {
    font-size: 20px;
}

.create-transaction-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.create-transaction-container a {
    color: rgba(0, 200, 255, 1)
}

.transaction-customer-dropdown-container span {
    display: block;
    margin-bottom: 20px;
}

.transaction-field-label-input-container {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

    .transaction-field-label-input-container input {
        font-size: 20px;
    }

#due-payment-date {
    font-size: 20px;
}

.field-container {
    padding: 20px 0px;
}

.invoice-data-table th, .invoice-data-table td {
    text-align: center;
    padding: 10px;
}

.invoice-data-table .remove-button {
    margin-left: 10px;
}

#print-container {
    margin-bottom: 50px;
}

#print-container a {
    color: rgba(0, 200, 255, 1);
}

.buttons-container {
    margin-right: 100px;
}

@media only screen and (max-width: 900px) {
    .buttons-container {
        text-align: center !important;
        margin-right: 0px;
    }

    .invoice-data-table .remove-button {
        margin-left: 5px;
    }

    .transaction-field-label-input-container input {
        max-width: 75px;
    }

    .transaction-field-label-input-container {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transaction-field-label-input-container span:nth-child(1) {
        margin-bottom: 10px;
    }

    .transaction-field-label-input-container input {
        font-size: 18px;
    }

    #transaction-invoice-data-container select {
        max-width: 75px;
    }

    .invoice-data-table th, .invoice-data-table td {
        text-align: center;
        padding: 0px;
    }
}