select {
    font-size: 20px;
}

.transaction-company-dropdown-container span {
    display: block;
    margin-bottom: 20px;
}

#due-payment-date {
    font-size: 20px;
}

.field-container {
    padding: 20px 0px;
}

.transaction-information-table {
    margin-bottom: 20px;
}

#print-container a {
    color: rgba(0, 200, 255, 1);
}