/* Provide sufficient contrast against white background */
code {
    color: #E01A76;
}

.primary-button {
    color: rgba(0,0,0,1);
    background-color: rgba(0,255,255);
    padding: 10px;
    cursor: pointer;
    border: none;
}

.remove-button {
    color: rgba(0,0,0,1);
    background-color: rgba(255, 158, 158);
    padding: 10px;
    cursor: pointer;
    border: none;
}

button {
    transition: opacity 0.7s ease-out;
}

    button:hover {
        opacity: 0.5;
    }

.buttons-container {
    text-align: right;
}

span {
    font-size: 20px;
}

select {
    min-width: 200px;
}

input[type="date"] {
    min-width: 200px;
}

.field-whole-container {
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.field-label-input-container {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.field-label-input-container input {
    font-size: 20px;
}

.field-whole-container .field-label {
    flex-grow: 1;
}

.field-whole-container .field-required::after {
    color: rgba(125,0,0,1);
    content: " *";
}

.field-whole-container .field-error {
    color: rgba(255,0,0,1);
}

a {
    text-decoration: none;
    transition: opacity 0.7s ease-out;
}

    a:hover {
        opacity: 0.5
    }

[hidden] {
    display: none;
}
