.company-top-container {
    display: flex;
    justify-content: space-evenly;
}

select {
    font-size: 20px;
}

.company-dropdown-container span {
    display: block;
    margin-bottom: 10px;
}

.company-dropdown-container select {
    min-width: 200px;
}

.remaining-balance {
    font-weight: 600;
}

.remaining-balance-container {
    display: block;
}

.remaining-balance-container span {
    display: block;
    margin-bottom: 10px;
}

.remaining-balance {
    padding-left: 20px;
}

.transactions-container {
    margin-top: 100px;
}
    
.transactions-actions-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .transactions-actions-container a {
        margin-right: 10px;
        padding: 5px;
        color: rgba(0, 200, 255,1);
    }

.transactions-info-container {
    display: flex;
    justify-content: center;
}

.invoice-row {
    color: rgba(155, 0, 0, 1);
}

.payment-row {
    color: rgba(0, 155, 0, 1);
}

.transactions-table {
    border: solid 2px black;
    border-collapse: collapse;
    width: 50%;
}

.transactions-table tr {
    border: solid 2px black;
}

.transactions-table th, td {
        text-align: center;
        padding: 10px;
    }

.transactions tr:nth-child(even) {
    background-color: #D6EEEE;
}

@media (max-width: 500px) {
}
